<div class="flex-container" id="header">

    <p style="margin-left: 40%; display:flex; position:absolute; margin-right:auto; ">super week end 50%FF shop now</p><br>

    <header>
        <hr>

        <div id="top" style="background-color: whitesmoke;">
            <div class="header">
                <div class="search" style="border: none;">
                    <br>
                    <input type="text" placeholder="Search"><i class="bi bi-search"></i>
                </div>
            </div>
            <div class="title">
                <br>
                <h1>FA<span class="ST">ST</span>OR</h1>
            </div>
            <div class="right">

                <select>
            <option>USD</option>
            <option>INR</option>
        </select>&nbsp;&nbsp;
                <i class="bi bi-person"></i>&nbsp;&nbsp;
                <i class="bi bi-heart"></i>&nbsp;&nbsp;
                <i class="bi bi-cart-check-fill"></i>

            </div>
        </div>

    </header>
</div><br>