.navbartop {
    // position: absolute;
    // margin-left: 27%;
    // ;
    display: flex;
    flex-direction: column;
}

#Link1 {
    color: red;
}

.navbar-nav {
    margin-left: 400px;
    ;
}

.dropdown-menu ul li {
    color: red;
}