.col a {
    text-decoration: none;
    color: black;
}

.col a .price {
    color: rgb(251, 133, 153);
}

.bg-light .navbar {
    width: 20px;
    ;
}

// .flex-container  {
#card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    float: left;
    align-content: space-around;
    column-gap: 10rem;
    row-gap: 1rem;
    // grid-auto-flow: dense;
    position: relative;
    align-items: flex-end;
    border-style: 3px solid rgb(63, 13, 245);
    border-width: 1rem;
    // margin-left: 20px;
    align-content: space-around;
    gap: 1rem;
    margin-top: -20px;
    ;
}

// .container-fluid {
//     float: right;
// }
#card img {
    transition: 0.5s all ease-in-out;
    border: 2px solid rgb(244, 207, 83);
    border-radius: 5%;
}

#card:hover img {
    transform: scale(0.9);
    float: right;
}

#radio input[type='radio'] {
    background-color: red;
    display: inline-block;
    visibility: visible;
    border: 2px solid red;
    position: relative;
}

// #col1 {
//     float: left;
// }
// #row1:after {
//     display: table;
//     clear: both;
// }
.container-fluid {
    padding-left: 20px;
    ;
}